{% seo %}
<header class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">Megan C Hall</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/projects' | prepend: site.baseurl }}">Research Projects</a>
        <a class="nav-link" href="{{ '/papers' | prepend: site.baseurl }}">Papers</a>
        <a class="nav-link" href="{{ '/CV/Master_CV_January2026_MH.pdf' | prepend: site.baseurl }}">CV</a>
        <a class="nav-link" href="{{ '/outreach' | prepend: site.baseurl }}">Outreach</a> 
      </ul>
    </div>
  </div>
</header>
